/*----- Root-Variable -----*/
@font-face {
    font-family: 'NeueMontreal';
    src:    url('../fonts/text-fonts/NeueMontreal-Bold.otf');
    font-weight: 700;
    font-style: normal;
  }
  @font-face {
    font-family: 'NeueMontreal';
    src:    url('../fonts/text-fonts/NeueMontreal-Light.otf');
    font-weight: 300;
    font-style: normal;
  }
  @font-face {
    font-family: 'NeueMontreal';
    src:    url('../fonts/text-fonts/NeueMontreal-Medium.otf');
    font-weight: 500;
    font-style: normal;
  }
  @font-face {
    font-family: 'NeueMontreal';
    src:    url('../fonts/text-fonts/NeueMontreal-Regular.otf');
    font-weight: 400;
    font-style: normal;
  }


:root {
    --primary-color: #131313;
    --secondary-color: #fff5f2;
    --text-color: #505050;
    --accent-color: #386EEF;
    --border-color: #ededed;
    --dark-color: #080808;

    --body-font-family: 'NeueMontreal', sans-serif;
    --heading-font-family: 'NeueMontreal', sans-serif;

    --navbar-height: 100px;
    --section-padding: 120px;

    --bs-link-color: var(--primary-color);
    --bs-link-hover-color: var(--accent-color);
}

body.dark__theme {
    background-color: var(--dark-color);
    
    --primary-color: #ffffff;
    --secondary-color: #141414;
    --text-color: #e7e7e7;
    --accent-color: #386EEF;
    --border-color: #212121;
}

/* --- 1. Helper__Classes --- */
.section__padding {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.section__padding__bottom {
    padding-bottom: var(--section-padding);
}
.section__padding__top {
    padding-top: var(--section-padding);
}

/* --- 1. Primary__button --- */
.primary__button {
    background-color: transparent;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    padding: 12px 24px;
    border-radius: 6px;
    display: inline-block;
    transition: .3s;
    font-weight: 500;
    text-transform: capitalize;
}

.primary__button:hover {
    background-color: var(--primary-color);
    color: white;
}

.primary__button:not(.outline) {
    background-color: var(--accent-color);
    border-color: var(--accent-color);
    color: white;
}

.primary__button:not(.outline):hover {
    background-color: var(--accent-color);
    border-color: var(--accent-color);
}



/* --- 1. Accent__button --- */
.accent__button {
    background-color: white;
    color: var(--accent-color);
    border: 1px solid var(--accent-color);
    padding: 12px 24px;
    border-radius: 6px;
    display: inline-block;
    transition: .3s;
    font-weight: 500;
    text-transform: capitalize;
    box-shadow: 0 0px 0px 0 var(--secondary-color);
}

.accent__button:hover {
    background-color: var(--accent-color);
    color: white;
}

.accent__button:not(.outline) {
    background-color: var(--accent-color);
    border: 1px solid var(--accent-color);
    color: white;
}

.accent__button:not(.outline):hover {
    background-color: var(--primary-color);
    color: var(--accent-color);
    border-color: var(--primary-color);
}

.accent__color {
    color: var(--accent-color);
}