/* --------------------------
Table of Contents
-----------------------------
1. Navbar__Area

   
*/


/* --- 1. Navbar__Area --- */
.navbar__area {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: var(--navbar-height);
    border: 1px solid transparent;
    border-image-source: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 100%);
    border-image-slice: 1;
    border-width: 0 0 1px 0;
    background-color: var(--dark-color);
}

.admin-bar .navbar__area {
    top: 30px;
}

body.sticky .navbar__area {
    position: fixed;
    top: 0px;
    background-color: var(--dark-color);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .05);
}

body.sticky.admin-bar .navbar__area {
    top: 30px;
}

.navbar__height {
    height: var(--navbar-height);
    width: 100%;
    display: block;
}

.navbar__area .row {
    min-height: var(--navbar-height);
}

.logo__text {
    font-family: var(--heading-font-family);
    font-weight: 700;
    font-size: 2.4em;
    line-height: 1.2em;
}

.navbar__area .sticky__logo {
    display: none;
}

body.sticky .navbar__area .sticky__logo {
    display: block;
}

body.sticky .navbar__area .main__logo {
    display: none;
}

.navbar__area .nav__menu .nav {
    margin-right: calc(0px - var(--bs-nav-link-padding-y) * 2);
}

.nav__menu .nav>li {
    position: relative;
}

.nav__menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav__menu .nav li a {
    color: var(--primary-color);
    position: relative;
}

.nav__menu .nav li a .hover__arrow {
    position: absolute;
    left: 15%;
    bottom: 34%;
}

.nav__menu .nav li a .hover__arrow path {
    stroke-dasharray: 50;
    stroke-dashoffset: 50;
    transition: .5s;
}

.nav__menu .nav li.current-menu-item>a .hover__arrow path,
.nav__menu .nav li:hover>a .hover__arrow path {
    stroke-dashoffset: 0;
}

.nav__menu .nav li li:hover>a {
    color: var(--accent-color);
}

/* --- 1. Desktop__Menu__CSS --- */

.nav__menu .nav>li>a {
    min-height: var(--navbar-height);
    display: flex;
    align-items: center;
}

.nav__menu li {
    display: flex;
}

.nav__menu li .collapse__menu {
    border: none;
    background-color: transparent;
    padding: 0;
    margin-left: 8px;
    font-size: .9em;
}

.nav__menu li li a {
    display: flex;
    width: 100%;
}

.nav__menu li li .collapse__menu {
    margin-left: auto;
}

.nav__menu li:hover>a>.collapse__menu i:before {
    content: "\f068";
}

.nav__menu li ul {
    position: absolute;
    left: 0;
    top: 100%;
    background-color: white;
    min-width: 220px;
    opacity: 0;
    visibility: hidden;
    transition: .1s;
    padding: 16px 0;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.nav__menu li ul li a {
    padding: 5px 26px;
}

.nav__menu li li ul {
    left: 100%;
    top: 0%;
}

.nav__menu li:hover>ul {
    opacity: 1;
    visibility: visible;
    transition: .3s;
}

.mobile__menu__toggle {
    margin-left: auto;
}


/* --- 1. Mobile__menu__css --- */
.mobile__menu__toggle {
    margin-left: auto;
    border: 1px solid var(--accent-color);
    width: 40px;
    height: 40px;
    line-height: 38px;
    background-color: transparent;
    color: var(--accent-color);
    padding: 0px;
    border-radius: 5px;
    font-size: 1.5em;
}

.mobile__menu__toggle i {
    line-height: 1em;
}

.mobile__menu {
    border: 1px solid var(--secondary-color);
    background-color: var(--dark-color);
    padding: 14px 24px;
    max-height: 400px;
    overflow-y: auto;
    display: none;
}

.mobile__menu .nav {
    flex-direction: column;
}

.mobile__menu .nav li {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.mobile__menu .nav li a {
    padding: 12px 0px;
    text-transform: capitalize;
    color: var(--primary-color);
    position: relative;
    font-size: 18px;
    line-height: 1.6em;
}

.mobile__menu .nav li a .hover__arrow {
    position: absolute;
    left: 0;
    bottom: 8px;
    width: 40px;
    opacity: 0;
    transition: .3s;
}

.mobile__menu .nav li:hover > a .hover__arrow,
.mobile__menu .nav li.current-menu-item > a .hover__arrow,
.mobile__menu .nav li.active > a .hover__arrow {
    opacity: 1;
}

.mobile__menu .nav li ul {
    list-style: none;
    margin: 0;
    padding: 0 0 0 24px;
    border-left: 1px solid var(--secondary-color);
    width: 100%;
    display: none;
}

.mobile__menu .nav li .collapse__menu {
    border: none;
    padding: 0px;
    margin-left: auto;
    background-color: var(--se-color);
}

/* --- Transparent__Navbar --- */
.trans__dark__menu:not(.sticky) .navbar__area,
.trans__light__menu:not(.sticky) .navbar__area {
    background-color: transparent;
}

.trans__light__menu:not(.sticky) .navbar__area .nav__logo .logo__text {
    color: white;
}

.trans__light__menu:not(.sticky) .navbar__area .nav__menu .nav>li:not(.current-menu-item)>a {
    color: white;
}


/* --- 1. Header__Area --- */
.header__area {
    padding: 5em 0em;
    text-align: left;
    position: relative;
    z-index: 1;
}

.header__area:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.header__area .page_title {
    font-size: 96px;
    line-height: 1.1em;
    font-weight: 400;
    margin-bottom: 16px;
}

.header__area .sub__title {
    font-size: 20px;
    font-weight: 400;
    color: var(--primary-color);
}

/* --- Page__Wrapper --- */
.page__wrapper:after {
    content: "";
    clear: both;
    display: block;
}

/* --- Post__Box --- */
.post__box {
    margin-bottom: 2em;
}

.post__box.sticky {
    background-color: var(--secondary-color);
}

.post__media {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    border-radius: 32px;
    overflow: hidden;
    margin-bottom: 24px;
}

.post__media img,
.post__media a {
    display: block;
    width: 100%;
}

.single .post__media {
    margin-bottom: 42px;
}

.post__box .post__title {
    font-size: 32px;
    line-height: 1.2em;
    margin-top: 6px;
    margin-bottom: 0;
}

.post__box .post__title a {
    line-height: 1.2em;
}

.single .post__box .post__title {
    margin-bottom: 0.4em;
    margin-top: 0px;
}

.post__box .post__desc {
    margin-bottom: 1.4em;
}

.post__meta {
    list-style: none;
    margin: -5px -10px;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.post__meta li {
    margin: 5px 10px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    text-transform: capitalize;
    color: var(--text-color);
    font-weight: 400;
    font-size: 0.9em;
}

ul.post__meta li>i {
    color: var(--accent-color);
    line-height: 1em;
}

ul.post__meta li a {
    color: currentColor;
}

ul.post__meta li a:hover {
    color: var(--accent-color);
}

.post__box.post__grid .post__media {
    margin-bottom: 24px;
}

.post__box.post__grid .post__title {
    margin-top: 12px;
    margin-bottom: 0px;
}

.pagination {
    display: block;
    text-align: center;
    padding-top: 64px;
}

.pagination .page-numbers {
    width: 4em;
    height: 4em;
    line-height: 4em;
    background-color: transparent;
    font-size: 20px;
    font-weight: 200;
    text-align: center;
    margin: .5em;
    border-radius: 99px;
    display: inline-block;
    color: white;
    transition: 0.3s;
}

.pagination .page-numbers.current,
.pagination .page-numbers:hover {
    background-color: var(--accent-color);
    color: white;
}

.pagination .page-numbers.next:not(:hover),
.pagination .page-numbers.prev:not(:hover) {
    background-color: rgba(255, 255, 255, .1);
}

.pagination .page-numbers.next {
    float: right;
}

.pagination .page-numbers.prev {
    float: left;
}
/* --- Widget__Section --- */

.main__sidebar .widget {
    border-radius: 16px;
    margin-bottom: 2em;
    overflow: hidden;
    padding: 2em;
    background-color: var(--secondary-color);
    border: 1px solid var(--border-color);
}

.main__sidebar .widget .widget__title {
    font-size: 1.4em;
    margin-bottom: 1em;
    display: flex;
    align-items: center;
}

.main__sidebar .widget .widget__title:before {
    content: "";
    width: 3px;
    height: 1.2em;
    margin-right: 0.6em;
    display: inline-block;
    background-color: var(--accent-color);
}

.main__sidebar .widget ol,
.main__sidebar .widget ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-transform: capitalize;
}

.main__sidebar .widget li ol,
.main__sidebar .widget li ul {
    margin-left: 1.2em;
    margin-top: 0.5em;
}

.main__sidebar .widget.widget_archive li a,
.main__sidebar .widget.widget_categories li a,
.main__sidebar .widget.widget_pages li a,
.main__sidebar .widget.widget_nav__menu li a {
    display: flex;
    align-items: center;
}

.main__sidebar .widget.widget_archive li a:after,
.main__sidebar .widget.widget_categories li a:after,
.main__sidebar .widget.widget_pages li a:after,
.main__sidebar .widget.widget_nav__menu li a:after {
    content: "\f105";
    font-family: 'Font Awesome';
    font-weight: 400;
    margin-left: auto;
    color: currentColor;
}

.main__sidebar .widget li {
    margin-top: 0.8em;
    padding-top: 0.8em;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.main__sidebar .widget li:first-child {
    margin-top: 0;
    padding-top: 0;
    border-top: none;
}

.main__sidebar .widget li li {
    margin-top: 0.8em !important;
    padding-top: 0.8em !important;
    border-top: 1px solid rgba(0, 0, 0, 0.1) !important;
}

.main__sidebar .widget a {
    color: currentColor;
}

.main__sidebar .widget a:hover {
    color: var(--accent-color);
}

.widget.widget_rss a {
    text-decoration: underline;
}

/* --- 1. Search__Form --- */
.search__form {
    display: flex;
    flex-wrap: wrap;
}

.search__form .input__control {
    width: calc(100% - 60px);
    margin-right: 10px;
}

.search__form .search_submit {
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: var(--accent-color);
    color: white;
    border-radius: 5px;
}

.search__form .search_submit:hover {
    color: var(--accent-color);
    background-color: white;
    box-shadow: 0 4px 16px 0 #386EEF30;
}

/* --- 1. Single__Post --- */
.single__post {
    display: flex;
    flex-direction: column;
}

.single__post .post__title {
    font-size: 2.6em;
}

.single__post .post__meta {
    margin-bottom: 1em;
}

.post__navigation {
    display: flex;
    margin: 2.5em 0 0;
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    padding: 2em 0;
}

.post__navigation .nav__prev,
.post__navigation .nav__next {
    width: 50%;
}

.post__navigation .nav__next {
    text-align: right;
}

.single__post .post__navigation .post__title {
    margin: 0;
    font-size: 1.4em;
    line-height: 1.2em;
}

.post__navigation .nav__label {
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: var(--accent-color);
    margin-bottom: 0.3em;
    font-size: .8em;
}

/* --- 1. Comments__list --- */
.comments__section {
    margin-top: 2.5em;
}

.comments__list__area .comments__list,
.comments__list__area .comments__list .children {
    list-style: none;
    margin: 0;
    padding: 0;
}

.comments__list__area .comments__list .comment {
    margin-top: 2em;
    border-top: 1px solid var(--border-color);
    padding-top: 2em;
    padding-left: 6.2em;
    position: relative;
}

.comments__list__area .comments__list>.comment:first-child {
    border-top: none;
    margin-top: 0;
    padding-top: 0;
}

.comments__list__area .comments__list .comment .comment-author .avatar {
    position: absolute;
    left: 0;
    width: 4.8em;
    top: 2em;
    border-radius: 5px;
    box-shadow: 0 8px 24px 0 var(--secondary-color);
}

.comments__list__area .comments__list>.comment:first-child .comment-author .avatar {
    top: 0;
}

.comments__list__area .comments__list .comment .comment-author .fn {
    font-weight: 700;
}

.comments__list__area .comments__list .comment .comment-meta {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0.7em;
    justify-content: space-between;
}

.comments__list__area .comments__list .comment .reply {
    margin-top: 0.6em;
    font-weight: 700;
}

.comments__list__area .comments__list .comment .reply a {
    color: var(--accent-color);
}

.comments__list__area .comments__list .comment .reply a::before {
    content: "\f4ad";
    font-family: 'Font Awesome';
    font-weight: 300;
    color: var(--accent-color);
    margin-right: 0.6em;
}

.comments__section .comment-respond {
    margin-top: 2em;
    background-color: var(--secondary-color);
    padding: 2.4em;
    border-radius: 6px;
}

.comments__list__area .comment__title,
.comments__section .comment-respond .comment-reply-title {
    font-size: 1.8em;
    margin-bottom: 1em;
}

.comments__section .comment-respond .comment-reply-title a {
    font-size: 14px;
    margin-left: 1em;
    display: inline-block;
}

.comment-respond .form-submit {
    margin-bottom: 0;
}

.comment-form-cookies-consent {
    display: flex;
    align-items: flex-start;
    line-height: 1.2em;
}

.comment-form-cookies-consent input {
    margin: 5px 10px 0 0;
}

.comment-notes {
    margin-top: 0;
}

/* --- 1. Footer__Section --- */
.footer__section {
    padding-top: 2em;
    padding-bottom: 2em;
    border: 1px solid transparent;
    border-image-source: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 100%);
    border-image-slice: 1;
    border-width: 1px 0 0 0;
}

/* --- Error__Page --- */
.error__section {
    text-align: center;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3em 0em;
}

.error__section .error__image {
    margin-bottom: 2em;
}

.error__section .error__desc {
    margin-bottom: 2em;
}

/* --- Preloader__Style --- */
.preloader {
    width: 0;
    height: 0;
}

.preloader .loader {
    position: fixed;
    /* Fixed positioning to cover the entire screen */
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 99999999;
    /* Ensuring it's on top of other elements */
    display: flex;
    align-items: center;
    /* Centering content vertically */
    justify-content: center;
    /* Centering content horizontally */
    background-color: var(--dark-color);
}

.preloader .loader .loader__svg {
    width: 100vw;
    height: 180px;
    filter: url(#fire);
}

.preloader .loader .loader__text {
    font-size: 10vw;
    fill: none;
    stroke: #386EEF;
    stroke-width: 3px;
    stroke-dasharray: 810;
    stroke-dashoffset: 1000;
    stroke-linejoin: round;
    stroke-linecap: round;
    animation: preloader 15s linear alternate infinite;
}


@keyframes preloader {
    to {
        stroke-dasharray: 500;
    }
}

.preloader .smoke {
    width: 0;
    height: 0;
}


/* --- Single__Project__Style --- */
.releted__project {
    padding-top: 50px;
    padding-bottom: 100px;
}

.section__badge__title {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

.section__badge__title .text {
    display: inline-block;
    background-color: var(--accent-color);
    color: white;
    padding: 10px 24px;
    border-radius: 99px;
    text-transform: uppercase;
    white-space: nowrap;
    margin-right: 32px;
}

.section__badge__title .devider {
    height: 1px;
    width: 100%;
    background-color: var(--accent-color);
}